body {
  background: #3D4349;
  font-family: $font-default;
  background: $color-sidebar;
  color: #333;
  font-size: 11px;
}

::selection, ::-moz-selection, ::-webkit-selection {
  background-color: $greyshade;
  color: $color-background;
}

#header {
  .subtitle {
    color: #999;
    font-style: italic;
  }
  #main-nav {
    .InputAddOn {
      display: flex;
      line-height: 28px;
      .InputAddOn-field {
        flex: 1;
        /* field styles */
        border: 1px solid rgba(147, 128, 108, .25);
        padding: .5em .75em;
      }
      .InputAddOn-item {
        /* item styles */
        background-color: #b09f9a;
        color: #666;
        font: inherit;
        font-weight: 400;
        border: 1px solid rgba(147, 128, 108, .25);
        padding: 0 10px;
      }
      .InputAddOn-field:first-child, .InputAddOn-item:first-child {
        border-radius: 2px 0 0 2px;
      }
      .InputAddOn-field:last-child, .InputAddOn-item:last-child {
        border-radius: 0 2px 2px 0;
      }
    }
  }
  #sub-nav {
    float: none;
    position: relative;
    .social {
      float: none;
      height: 30px;
      margin: 0;
    }
  }
}



.container {
  .credit-box {
    color: #AAA;
    font-size: .8em;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
  .mid-col {
    background: white;

    .mid-col-container {

      #content {
        article.post {
          padding: 0;
          border: 0;
          .entry-content {
            text-align: left;
          }
        }

        .indexed {
          article {
            padding: 0 0 15px 15px;
            margin: 0 0 0 15px;
            border: 0;
            border-left: 1px solid $color-gray-sidebar;

            h1.title {
              font-size: 17px;
              margin-bottom: 0;
              line-height: 17px;
              padding: 15px 0 0 0;

              a {
                color: $color-sidebar;
              }

              a:hover {
                color: $color-gray-sidebar;
              }
            }
            .entry-content {
              line-height: 1.4em;
              font-size: 1.5em;

              .more-link:before {
                line-height: 1.2em;
              }

              h2 {
                font-size: 1.3em;
                color: #333;
                font-weight: bold;
              }

              blockquote {
                background: #F7F7F7;
              }
            }
            .meta {
              color: #555;
              .date::before {
                color: #555;
              }
              .tags::before {
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  .left-col:hover {
    opacity: 1;
    background-color: $color-sidebar;
  }
  .left-col {
    color: $color-gray05;
    font-size: 1.3em;
    opacity: $opacity-sidebar;
    background-color: $color-gray-sidebar;
    transition: background 1s ease-out, opacity .5s ease-out;

    #header {
      a {
        color: #EFEFEF;
        text-shadow: 0 1px #333;
      }
      a:hover {
        color: $greyshade;
      }

      hgroup {
        h1 {
          line-height: initial;
          font-size: 45px;
        }

        h2 {
          color: #b09f9a;
          font-size: 11px;
          line-height: initial;
          text-align: justify;
        }
      }
    }
  }
}

.archives {
  .title {
    font-size: 1.2em;
  }
  article {

    .meta {
      line-height: 1.5em;
    }
  }
}

a {
  color: $color-sidebar;
}

a:hover {
  color: $color-gray-sidebar;
}

footer {
  img {
    vertical-align: middle;
  }
}
