{% include custom/navigation.html %}
  {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <div role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <div class="InputAddOn">
      <div class="InputAddOn-item"><span class="icon icon-search"></span></div>
      <input class="search InputAddOn-field" type="text" name="q" results="0" placeholder="Search"/>
    </div>
  </div>
</form>
  {% endif %}
{% if site.description %}
<section class="aboutme">
  <p>
    {{ site.description }}
  </p>
</section>
{% endif %}
