$main-color-light: #5F372A;
$main-color-dark: #3D2821;
$second-color-light: #3EFFD0;
$second-color-dark: #377D6C;
$white: #F0F0F0;
$black: $main-color-dark;
$opacity-sidebar: .5;
$greyshade: $main-color-light;
$greyshade-dark: $main-color-dark;
